= simple_form_for(@message) do |f|
  = f.error_notification
  .form-inputs

    = hidden_field_tag :username, params[:username], :name => "username"
    = f.input :message, :as => :text, :input_html => {:rows => 5}
    = f.input :requester_email, :as => :email

  .well
    = f.button :submit, :value => "Send Message",:class => "btn btn-success"
