= simple_form_for(@message, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification
  = hidden_field_tag :username, params[:username], :name => "username"
  = f.input :message, :as => :text, :input_html => {:rows => 5}
  = hidden_field_tag :payment_id, params[:payment_id]
  = hidden_field_tag :payment_random, params[:payment_random]
  = f.input :requester_email, :as => :email, :label => "Your email"
  = f.button :submit, :value => "Send Message",:class => "btn btn-success btn-large"
