.jumbotron
  = render 'layouts/messages'
  %h3  Profile
  %span.help-block
    Your link for mythreshold.com: http://mythreshold.com/#{@user.username}
  %hr
  = form_for @user, :html => { :class => 'form-horizontal' } do |f|
    = render :partial => "shared/model_error_messages", :locals => {:model => @user}
    %fieldset
      .control-group
        %label.control-label Name
        = f.text_field :name, :value => @user.auth_providers.first.uname
      .control-group
        %label.control-label Username
        = f.text_field :username
      .control-group
        %label.control-label Your threshold
        = f.text_field :threshold
      .control-group
        %label.control-label Your email
        = f.text_field :email
      .control-group
        %label.control-label Select your picture
        #pics
          = image_tag @user.main_picture || "authicons/user.png" , :class => "selected_pic"
          = f.hidden_field :main_picture, :value => @user.main_picture
          - @user.auth_providers.each do |ap|
            - unless ap.image == @user.main_picture
              = image_tag ap.image, :class => "social_network_pic"
      .control-group
        %label.control-label Set your statement
        = f.text_area :comment, :placeholder => "I swear I read every message", :size => "160x3"
        %span.help-block
          Examples:
          %em "I'm open to job offers,"
          %em "Will answer in less than 48 hours,"
          or
          %em "Send me your phone so I can call you back"
      = f.submit 'Save', :class => "btn btn-large btn-success"
  .row-fluid
    .span12
      %em Linking more social networks will improve the probability of someone paying to contact you.
  .row-fluid 
    .span4
      - user_providers = @user.auth_providers.collect(&:provider)
      = link_to image_tag("authicons/facebook_100.png", :class => "#{user_providers.include?('facebook') ? 'enabled' : 'disabled'} "), "/auth/facebook"
    .span4
      = link_to image_tag("authicons/twitter_100.png", :class => "#{user_providers.include?('twitter') ? 'enabled' : 'disabled'} "), "/auth/twitter"

