.jumbotron
  = render 'layouts/messages'
  .thumbnail
    = image_tag @user.main_picture || "authicons/user.png" 
    .caption
      %h3=@user.name.titleize
      %dl.dl-horizontal
        %dt Price:
        %dd= @user.threshold
        %dt Message:
        %dd= @user.comment
      .well 
        %b Social networks:
        - @user.auth_providers.each do |ap|
          = link_to image_tag("authicons/#{ap.provider}_100.png"), ap.profile_uri 
  %br
  .row-fluid
    .span12
      = link_to "Pay", new_message_path(:username => @user.username), :class => "btn btn-primary"

