.jumbotron
  = render 'layouts/messages'
  .thumbnail
    = image_tag @user.main_picture || "authicons/user.png" 
    .caption
      %h3=@user.name.titleize
      %dl.dl-horizontal
        %dt Price:
        %dd= @user.threshold
        %dt Message:
        %dd= @user.comment
      .well 
        %b Social networks:
        - @user.auth_providers.each do |ap|
          = link_to image_tag("authicons/#{ap.provider}_100.png"), ap.profile_uri 
  %br
  .row-fluid
    .span12
      = form_tag new_payment_path do
        = hidden_field_tag :user_id, @user.id
        = hidden_field_tag :status, "ok"
        = submit_tag "Pay", :class => "btn btn-primary"
    - if Rails.env.development?
      .span12
        = form_tag new_payment_path do
          = hidden_field_tag :user_id, @user.id
          = hidden_field_tag :status, "nok"
          = submit_tag "Pay failure (Development)", :class => "btn btn-danger"

