.jumbotron
  = render 'layouts/messages'
  %h3  #{@user.name.titleize} Profile
  %hr
    %fieldset
      .control-group
        %label.control-label Name:
        = @user.name
      .control-group
        %label.control-label Price:
        = @user.threshold
      .control-group
        %label.control-label Picture
        = image_tag @user.main_picture || "authicons/user.png" 
      .control-group
        %label.control-label #{@user.name} message:
        = @user.comment
  .row-fluid
    .span12
      %em Linking more social networks will improve the probability of someone paying to contact you.
  .row-fluid 
    .span4
      - @user.auth_providers.each do |ap|
        = link_to image_tag("authicons/#{ap.provider}_100.png"), "http://#{ap.provider}.com/NOMBREUSUARIO"

