.jumbotron
	= render 'layouts/messages'
	%h1 5) Link your public profiles
	%p.lead 
		Displaying links to your public profiles will help proving you're you.
		%br
		%strong Important
		MyThreshold.com does *NOT* post, comment, or create any content whatsoever on your social networks. If you don't tell your acquintances you are here, they won't know it.

.row-fluid
	.span12
		%em Linking more social networks will improve the probability of someone paying to contact you.
.row-fluid 
	.span4
		= link_to image_tag("authicons/facebook_256.png"), "/auth/facebook"
	.span4
		= link_to image_tag("authicons/twitter_256.png"), "/auth/twitter"
	.span4
		= link_to image_tag("authicons/linkedin_256.png"), "#"
.row-fluid
	.span4
		=raw "&nbsp;"
	.span4
		= link_to image_tag("authicons/google_256.png"), "#"
	.span4
		=raw "&nbsp;"
.row-fluid
	.span5
		=raw "&nbsp;"
	.span2
		=link_to "Later", edit_profile_path, :class=> "btn btn-large"
	.span7
		=raw "&nbsp;"