= simple_form_for(@answer, :url => set_evaluation_path(@answer)) do |f|
  = f.error_notification

  .hero-unit
    %h3 Evaluate this answer:
    .alert.alert-info.small=@answer.text
    %p
    .form-inputs.form-horizontal
      .control-group.evaluation_radio
        = f.input :utility, collection: 1..5, prompt: "Select your evaluation", :as => :radio
      .control-group.evaluation_radio
        = f.input :response_time, collection: 1..5, prompt: "Select your evaluation", :as => :radio
    .row
      .span4.offset2
        = f.button :submit, "Evaluate the Answer" ,:class => "btn btn-success btn-large"
