.container.page
  .row-fluid
    %legend 
      Edit profile
    .well.box-perfil
      %form
        .perfil.edit
          .span2
            .img-perfil
              = image_tag @user.main_picture, :class=>".img-rounded", :height => "170", :width => "170", :id => "main_picture"
            .social-images
              .row-fluid.full-width
                .span12
                  Select your profile picture
                  %hr/
                  .row-fluid#imgoptions
                    - @user.auth_providers.each do |ap|
                      - unless ap.image == @user.main_picture
                        .span4.well.no-padding
                          = hidden_field_tag ap.provider, ap.provider
                          = image_tag ap.image, :alt => @user.name
            .clearfix
          .span10.nombre-perfil
            %h3#name
              = @user.name
            %label Select other name
            = select_tag :uname, options_for_select(name_options)
            .clearfix
          .span10.descripcion-personalizable
            .control-group
              %label.control-label{:for => "inputMessage"} Edit message
              .controls
                = text_area_tag :comment, @user.comment, :rows => "3", :placeholder => "What is it you compromise to do when someone pays #{number_to_currency(@user.threshold, :precision => 0)}?", :class => "span12"
                %span.help-inline{style: "display:none;"} Please provide a valid message for potential senders.
            .clearfix
          .span5.precio
            .control-group
              %label.control-label{:for => :price} Users willing to message me must pay:
              .controls
                .input-prepend
                  %span.add-on $
                  = text_field_tag :price, @user.threshold.to_i, :placeholder => "Your price in USD"
                %span.help-inline{style: "display:none;"} Use only numbers. The price is in USD.
            .clearfix
          .span5.contacto
            .control-group
              %label.control-label{:for => :email} Send messages to:  
              .controls
                .input-prepend
                  %span.add-on Email
                  = text_field_tag :email, @user.email, :placeholder => "example@mymail.com"
                %span.help-inline{style: "display:none;"} Please provide a valid email. We will only send you an email when someone pays to write you.
          .span10.pull-right
            %label 
              = "#{@user.name}'s profile on social networks"
          .span10.redes.pull-right
            .span2
              - classes = "facebook #{has_facebook? ? 'active':''}"
              = link_to "Facebook", "/auth/facebook", :class => classes
            .span2
              - classes = "twitter #{has_twitter? ? 'active':''}"
              = link_to "twitter", "/auth/twitter", :class => classes
            .span2
              - classes = "github #{has_github? ? 'active':''}"
              = link_to "github", "/auth/github", :class => classes
            .span2
              - classes = "googleplus #{has_googleplus? ? 'active':''}"
              = link_to "googleplus", "/auth/google_oauth2", :class => classes
            .span2
              - classes = "linkedin #{has_linkedin? ? 'active':''}"
              = link_to "linkedin", "/auth/linkedin", :class => classes
            .span2
              = link_to "Add More", "#", :class => "add-more"
          .span10.contacto.pull-right
            %button.btn.btn-site{:type => "button"} Save
      .clearfix
    .clearfix
  %footer
    %p Treshhold 2013
  .clearfix

- content_for :javascript do
  :plain

    function validateProfile(){
      validateComment();
      validateEmail();
      validatePrice();
    }

    function validateComment() {
      validateInput("textarea#comment", /\w\w+/);
    }

    function validateEmail() {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      validateInput("input#email", re);
    }

    function validatePrice() {
      validateInput("input#price", /^\d+$/);
    }

    function validateInput(inputDesc, re) {
      input = $(inputDesc);
      cGroup = input.parents(".control-group");
      errorMsg = $("span.help-inline", cGroup);
      if(!re.test(input.val())) {
        cGroup.addClass("error");
        errorMsg.show();
      } else {
        cGroup.removeClass("error");
        errorMsg.hide();
      }
    }

    function loadProfile(data) {
      $("img#main_picture").attr("src", data["main_picture"]);
      $("h3#name").text(data["name"]);
      cont = 0;
      $.each($("#imgoptions>div"), function(){
        $("input[type=hidden]", this).val(data["alt_pics"][cont]["provider"]);
        $("img", this).attr("src", data["alt_pics"][cont++]["image"]);
      });
      $("select#uname option").remove();
      $.each(data["alt_names"], function(idx, op){
        $("select#uname").append(
          "<option value='" + op["provider"] + "'>" + op["name"] + "</option>"
        );
      });
      validateProfile();
    }

    function refreshProfile(){
      $.ajax({url: "#{pf_get_data_path}",
        success: function(data){
          loadProfile(data);
        }, error: function(){
          
        } 
      }); //ajax
    }

    // change picture
    $("#imgoptions img").click(function(){
      provider_name = $(this).siblings("input[type=hidden]").val();
      $.ajax({url: "#{pf_set_img_path}", type: "post",
        data: {provider: provider_name},
        success: function(data){
          refreshProfile();
        }, error: function(){
          alert("change img fail");
        }
      }); //ajax
    });

    // change name
    $("select#uname").change(function(){
      provider_name = $(this).val();
      $.ajax({url: "#{pf_set_name_path}", type: "post",
        data: {provider: provider_name},
        success: function(data){
          refreshProfile();
        }, error: function(){
          alert("change name fail");
        }
      }); //ajax
    });

    //change message
    $("textarea#comment").change(function(){
      validateComment();
    });

    //change email
    $("input#email").change(function(){
      validateEmail();
    });

    //change price
    $("input#price").change(function(){
      validatePrice();
    });
        