.container.page
  .row-fluid
    %legend 
      Your profile
      - if @user.signed_up?
        = link_to "(view as sender)", public_profile_path(@user.username), :id => "public_profile_link"
    .well.box-perfil
      - if @user.signing_up?
        .progress.progress-striped.active
          - if @first_time_in_profile
            #progress.bar{:style=>"width: 60%;"}
          - else
            #progress.bar{:style=>"width: 80%;"}
      %form
        .perfil.edit
          .span2
            .img-perfil
              = image_tag @user.main_picture, :class=>".img-rounded", :height => "170", :width => "170", :id => "main_picture"
            .social-images
              .row-fluid.full-width
                .span12
                  Select your profile picture
                  %hr/
                  .row-fluid#imgoptions
                    - @user.auth_providers.each do |ap|
                      - unless ap.image == @user.main_picture
                        .span4.well.no-padding
                          = hidden_field_tag ap.provider, ap.provider
                          = image_tag ap.image, :alt => @user.name
            .clearfix
          .span8.nombre-perfil
            %h3#name
              = @user.name
            %label Select other name
            = select_tag :uname, options_for_select(name_options)
            .clearfix
          .span2.helper
            %button#help.btn.btn-info.btn-small Help OFF
            #upRight
            .clearfix
          .span10.descripcion-personalizable
            .control-group
              %label.control-label{:for => "inputMessage"} Your committment
              .controls
                = text_area_tag :comment, @user.comment, :rows => "3", :placeholder => "What is your committment when someone pays #{number_to_currency(@user.threshold, :precision => 0)}?", :class => "span12"
                %span.help-inline{style: "display:none;"} This is the public message that those interested in contacting you will read.
            .clearfix
          .span5.precio.pull-right
            .control-group
              %label.control-label{:for => :price} To write me, senders must pay:
              .controls
                .input-prepend
                  %span.add-on $
                  = text_field_tag :price, @user.threshold.to_i, :placeholder => "Your price in USD"
                %span.help-inline{style: "display:none;"} Use only numbers. The price is in USD.
            .clearfix
          .span5.contacto.pull-right
            .control-group
              %label.control-label{:for => :email} Send messages to:  
              .controls
                .input-prepend
                  %span.add-on Email
                  = text_field_tag :email, @user.email, :placeholder => "example@mymail.com"
                %span.help-inline{style: "display:none;"} Please provide a valid email. We will only send you an email when someone pays to write you.
          .span10.pull-right
            %label 
              = "#{@user.name}'s profile on social networks"
          .span10.redes.pull-right
            .span2
              - classes = "facebook #{has_facebook? ? 'active':''}"
              = link_to "Facebook", "/auth/facebook", :class => classes
            .span2
              - classes = "twitter #{has_twitter? ? 'active':''}"
              = link_to "twitter", "/auth/twitter", :class => classes
            .span2
              - classes = "github #{has_github? ? 'active':''}"
              = link_to "github", "/auth/github", :class => classes, :id => "github"
            .span2
              - classes = "googleplus #{has_googleplus? ? 'active':''}"
              = link_to "googleplus", "/auth/google_oauth2", :class => classes
            .span2
              - classes = "linkedin #{has_linkedin? ? 'active':''}"
              = link_to "linkedin", "/auth/linkedin", :class => classes
            .span2
              = link_to "Add More", "#", :class => "add-more"
          .clearfix
          .span10.contacto.pull-right
            %button#save.btn.btn-site{:type => "button"} 
              - if @user.signing_up? 
                Start receiving messages!
              - else
                Save
      .clearfix
    .clearfix
  %footer
    %p Treshhold 2013
  .clearfix

  #modalProfileCompleted.modal.hide.fade{ :tabindex => "-1", :role => "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
    .modal-header
      %button.close{ :"data-dismiss" => "modal", :"aria-hidden" => "true"} ×
      %h3#modalProfileCompletedLabel Profile complete!
    .modal-body
      %p Your profile is complete. Now you can share the link to your public profile so tht senders start paying to message you!
      %p 
        %strong Note:
        You can change your profile as may times as you want.
    .modal-footer
      %button.btn{ :"data-dismiss" => "modal", :"aria-hidden" => "true"} I haven't finished just yet
      %button#redirect.btn.btn-primary Go to my public profile

- content_for :style do
  :plain
    .popover {
      border: 1px solid #888888;
    }
    .helper .popover {
      color: #59b129;
    }
    .popover .popover-title {
      display: none;
    }
    .popover-inner {
      font-size: 12px;
      font-weight: normal;
      line-height: 16px;
    }
    .popover-inner h4 {
      margin: 0 0 4px 0;  
    }
    .descripcion-personalizable .popover, .redes .popover { width: 400px; }
    .descripcion-personalizable .popover-inner, .redes .popover-inner { width: 400px; }

- content_for :breadcrumbs do
  - if @user.signing_up?
    %a{:href => "#"} Sign up
    %span.divider >
    %a.active{:href => "#"} Complete your profile
  - else
    %a.active{:href => profile_path} Profile

- content_for :javascript do
  :plain

    /* VALIDATION */

    function validateProfile(){
      commentOk = validateComment();
      emailOk = validateEmail();
      priceOk = validatePrice();
      return priceOk && commentOk && emailOk;
    }

    function validateComment() {
      return validateInput("textarea#comment", /\w\w+/);
    }

    function validateEmail() {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return validateInput("input#email", re);
    }

    function validatePrice() {
      return validateInput("input#price", /^\d+$/);
    }

    function validateInput(inputDesc, re) {
      input = $(inputDesc);
      cGroup = input.parents(".control-group");
      errorMsg = $("span.help-inline", cGroup);
      if(!re.test(input.val())) {
        cGroup.addClass("error");
        errorMsg.show();
        //popovers have to be re-drawn when errors are shown
        if(helpOn) showPopovers(true); 
        return false;
      } else {
        cGroup.removeClass("error");
        errorMsg.hide();
        //popovers have to be re-drawn when errors are shown
        if(helpOn) showPopovers(true); 
        return true;
      }
    }

    //change message
    $("textarea#comment").change(function(){
      if(validateComment()) { saveForm($(this).val()); } // no email, no price
    });

    //change email
    $("input#email").change(function(){
      if(validateEmail()) { saveForm(null, $(this).val()); } // no comment, no price
    });

    //change price
    $("input#price").change(function(){
      if(validatePrice()) { saveForm(null, null, $(this).val()); } // no comment, no email
    });

    /* HELP & POPOVERS */
    var helpOn = false;

    function showPopovers(force) {
      if(!helpOn || force) {
        $("textarea#comment").popover({
          placement: "top",
          html: "true",
          trigger: "manual",
          content: "<h4>Your committment</h4><p>Aside from your name and price, this is what potential senders will see in your public profile. <strong>What will you do when someone pays to write you a message?</strong> Some examples are: <ul><li>'I will only answer business inquiries,'</li> <li>'I will answer every message in under two days,'</li> <li>'Please don't ask me to read lengthy mails, keep it under 100 words,' etc.</li></ul><p>"
        }).popover('show');

        $("a#github").popover({
          placement: "bottom",
          html: "true",
          trigger: "manual",
          content: "<h4>Your profile on social networks</h4><p>One of the most important objectives of your profile is proving you're you. Senders won't risk paying to message the wrong person.</p> <p>Linking your public profile on social networks is a way to accomplish this. Potential senders will be able to visit your profile on the social networks you link.<p>"
        }).popover('show');

        $("#main_picture").popover({
          placement: "top",
          html: "true",
          trigger: "manual",
          content: "<h4>Your pic</h4><p>When you link more than one social network, you get to choose your profile picture. And your name, too.<p>"
        }).popover('show');
        helpOn = true;
        $("button#help").text("Help ON");

        $("#email").popover({
          placement: "top",
          html: "true",
          trigger: "manual",
          content: "<h4>Your email</h4><p>Where we notify you when someone pays to contact you.<p>"
        }).popover('show');

        $("#price").popover({
          placement: "top",
          html: "true",
          trigger: "manual",
          content: "<h4>Your price</h4><p>You can change it as many times as you want... as everything else.<p>"
        }).popover('show');

        helpOn = true;
        $("button#help").text("Help ON");
      }
    }

    function hidePopovers() {
      $("textarea#comment").popover('hide');
      $("a#github").popover('hide');
      $("#main_picture").popover('hide');
      $("#email").popover('hide');
      $("#price").popover('hide');
      $("#help").popover('hide');
      helpOn = false;
      $("button#help").text("Help OFF");
    }

    $("button#help").click(function(){
      if(helpOn) {
        hidePopovers();
      } else {
        window.setTimeout(function(){
          if(helpOn) {
            $("#help").popover({
              placement: "top",
              html: "true",
              trigger: "manual",
              content: "<h4>Don't want help?</h4><p>Just click here :-)<p>"
            }).popover('show');
          }
        }, 4000);
        showPopovers();
      }
      return false; //so that the form doesn't fire
    });

    //if the page loaded for the first time
    var firstTime = #{@first_time_in_profile};
    var userStatus = "#{@user.status}";
    var goToPublicProfileAfterSave = false;
    if(firstTime) $("button#help").click();

    /* SAVING & LOADING FROM SERVER */

    var spinner = null;

    function showSpinner() {
      spinner = new Spinner();
      $("#upRight").append(spinner.spin().el);
    }

    function hideSpinner() {
      if(spinner) { spinner.stop(); }
    }

    function loadProfile(data, just_signed_up) {
      //public profile link
      public_profile_url = "/usr/" + data["username"];
      // selected image and alternatives
      $("img#main_picture").attr("src", data["main_picture"]);
      cont = 0;
      $.each($("#imgoptions>div"), function(){
        $("input[type=hidden]", this).val(data["alt_pics"][cont]["provider"]);
        $("img", this).attr("src", data["alt_pics"][cont++]["image"]);
      });
      // selected name and alternatives
      $("h3#name").text(data["name"]);
      if(data["status"] == "signed_up") $("a#public_profile_link").attr("href", public_profile_url);
      $("select#uname option").remove();
      $.each(data["alt_names"], function(idx, op){
        $("select#uname").append(
          "<option value='" + op["provider"] + "'>" + op["name"] + "</option>"
        );
      });
      // if the user has just completed the sign up process
      if(data["status"] == "signed_up" && userStatus == "signing_up") {
        $("#modalProfileCompleted").modal('show');
        $("#modalProfileCompleted #redirect").click(function(){ window.location = public_profile_url; });
        $("button#save").text("Save & go to my public profile");
        goToPublicProfileAfterSave = true;
      }
      if(validateProfile()) {
        if(goToPublicProfileAfterSave && userStatus == "signed_up") {
          window.location = public_profile_url;
        }
      }
      userStatus = data["status"];
    }

    function refreshProfile(just_signed_up){
      $.ajax({url: "#{pf_get_data_path}",
        success: function(data, just_signed_up){
          loadProfile(data);
        }, error: function(){
          window.location = "/profile";
        }
      }); //ajax
    }

    // change picture
    $("#imgoptions img").click(function(){
      showSpinner();
      provider_name = $(this).siblings("input[type=hidden]").val();
      $.ajax({url: "#{pf_set_img_path}", type: "post",
        data: {provider: provider_name},
        success: function(data){
          refreshProfile();
        }, error: function(){
          window.location = "/profile";
        }, complete: [hideSpinner]
      }); //ajax
    });

    // change name
    $("select#uname").change(function(){
      showSpinner();
      provider_name = $(this).val();
      $.ajax({url: "#{pf_set_name_path}", type: "post",
        data: {provider: provider_name},
        success: function(data){
          refreshProfile();
        }, error: function(){
          window.location = "/profile";
        }, complete: [hideSpinner]
      }); //ajax
    });

    function saveForm(comment, email, price) {
      data = {};
      if(comment) { data.comment = comment; }
      if(email) { data.email = email; }
      if(price) { data.price = price; }
      $.ajax({url: "#{pf_save_path}", type: "post",
        data: data,
        success: function(data){
          refreshProfile();
        }, error: function(){
          window.location = "/profile";
        }, complete: [hideSpinner]
      }); //ajax
    }

    //form save (comment, email and price)
    $("button#save").click(function(){
      showSpinner();
      comment = $("textarea#comment").val();
      email = $("input#email").val();
      price = $("input#price").val();
      if (validateProfile()) {
        saveForm(comment, email, price);
      }
    });
