.container.page
  .row-fluid
    %legend 
      Edit profile
    .well.box-perfil
      %form
        .perfil.edit
          .span2
            .img-perfil
              = image_tag @user.main_picture, :class=>".img-rounded", :height => "170", :width => "170", :id => "main_picture"
            .social-images
              .row-fluid.full-width
                .span12
                  Select social image
                  %hr/
                  .row-fluid#imgoptions
                    - @user.auth_providers.each do |ap|
                      - unless ap.image == @user.main_picture
                        .span4.well
                          = hidden_field_tag ap.provider, ap.provider
                          = image_tag ap.image, :alt => @user.name
            .clearfix
          .span10.nombre-perfil
            %label Your name is
            %h3#name
              = @user.name
            %label Select other name
            = select_tag :uname, options_for_select(name_options)
            .clearfix
          .span10.descripcion-personalizable
            .control-group
              %label.control-label{:for => "inputMessage"} Edit message
              .controls
                = text_area_tag :message, @user.comment, :rows => "3", :placeholder => "What is it you compromise to do when someone pays #{number_to_currency(@user.threshold, :precision => 0)}?", :class => "span12"
            .clearfix
          .span5.precio
            .control-group
              %label.control-label{:for => "inputPrice"} Edit price
              .controls
                .input-prepend
                  %span.add-on $
                  = text_field_tag :price, @user.threshold.to_i, :placeholder => "Your price in USD"
            .clearfix
          .span5.contacto
            .control-group
              %label.control-label{:for => "inputEmail"} Edit em@il
              .controls
                %input#inputEmail.span12{:placeholder => "Email", :type => "text"}/
          .span10.redes.pull-right
            .span2
              - classes = "facebook #{has_facebook? ? 'active':''}"
              = link_to "Facebook", "/auth/facebook", :class => classes
            .span2
              - classes = "twitter #{has_twitter? ? 'active':''}"
              = link_to "twitter", "/auth/twitter", :class => classes
            .span2
              - classes = "github #{has_github? ? 'active':''}"
              = link_to "github", "/auth/github", :class => classes
            .span2
              - classes = "googleplus #{has_googleplus? ? 'active':''}"
              = link_to "googleplus", "/auth/google_oauth2", :class => classes
            .span2
              - classes = "linkedin #{has_linkedin? ? 'active':''}"
              = link_to "linkedin", "/auth/linkedin", :class => classes
            .span2
              = link_to "Add More", "#", :class => "add-more"
          .span10.contacto.pull-right
            %button.btn.btn-site{:type => "button"} Save
      .clearfix
    .clearfix
  %footer
    %p Treshhold 2013
  .clearfix

- content_for :javascript do
  :plain
    function refresh(){
      $.ajax({url: "#{pf_get_data_path}",
        success: function(data){
          //{img: url, ...}
          $("img#main_picture").attr("src", data["main_picture"]);
          $("h3#name").text(data["name"]);
          cont = 0;
          $.each($("#imgoptions>div"), function(){
            $("input[type=hidden]", this).val(data["alt_pics"][cont]["provider"]);
            $("img", this).attr("src", data["alt_pics"][cont++]["image"]);
          });
          $("select#uname option").remove();
          $.each(data["alt_names"], function(idx, op){
            $("select#uname").append(
              "<option value='" + op["provider"] + "'>" + op["name"] + "</option>"
            );
          });
        }, error: function(){
          
        } 
      }); //ajax
    }

    // change picture
    $("#imgoptions img").click(function(){
      provider_name = $(this).siblings("input[type=hidden]").val();
      $.ajax({url: "#{pf_set_img_path}", type: "post",
        data: {provider: provider_name},
        success: function(data){
          refresh();
        }, error: function(){
          alert("change img fail");
        }
      }); //ajax
    });

    // change name
    $("select#uname").change(function(){
      provider_name = $(this).val();
      $.ajax({url: "#{pf_set_name_path}", type: "post",
        data: {provider: provider_name},
        success: function(data){
          refresh();
        }, error: function(){
          alert("change name fail");
        }
      }); //ajax

    });
        