.container.page
  .row-fluid
    %lengend
      = "#{@user.name}'s profile"
      - if @this_is_my_profile
        = link_to "(edit mode)", profile_path
    .well.box-perfil
      %form
        .perfil
          .span2
            .img-perfil
              = image_tag @user.main_picture, :class=>".img-rounded", :height => "170", :width => "170"
            .votacion
              %h2 Rate
              %hr/
              .rate X X X X X
          .span10.nombre-perfil
            = @user.name
          .span10.descripcion-personalizable
            %span.comillas> "
            = @user.comment
            %span.comillas "
          .span5.precio
            = number_to_currency @user.threshold, :precision => 0
          .span5.contacto
            %button.btn.btn-site{:type => "button"} 
              - if @this_is_my_profile 
                Contact (we won't charge you)
              - else
                Contact
          .span10.redes
            .span2
              - if has_facebook?
                = link_to "network_profile", facebook_url, :class => "facebook active"
              - else
                = link_to "network_profile", "#", :class => "facebook"
              %span Facebook
            .span2
              - if has_twitter?
                = link_to "network_profile", twitter_url, :class => "twitter active"
              - else
                = link_to "network_profile", "#", :class => "twitter"
              %span Twitter
            .span2
              - if has_googleplus?
                = link_to "network_profile", googleplus_url, :class => "googleplus active"
              - else
                = link_to "network_profile", "#", :class => "googleplus"
              %span Google+
            .span2
              - if has_linkedin?
                = link_to "network_profile", linkedin_url, :class => "linkedin active"
              - else
                = link_to "network_profile", "#", :class => "linkedin"
              %span Linkedin
            .span2
              - if has_github?
                = link_to "network_profile", github_url, :class => "github active"
              - else
                = link_to "network_profile", "#", :class => "github"
              %span Github
          .span10.contacto
            %button.btn.btn-site{:type => "button"} 
              - if @this_is_my_profile 
                Contact (try it out, it's free for you!)
              - else
                Contact
        .clearfix
    .clearfix
  %footer
    %p Treshhold 2013
  .clearfix