.jumbotron
  = render 'layouts/messages'
  %h1 4) Review your settings
  %p.lead 
    This is your message to whoever visits your profile here
    %em (besides what you make public on the social networks)
  %hr
  = form_for(resource, :url => registration_path(:user), :html => { :method => :put, :class => 'form-vertical' }) do |f|
    = display_base_errors resource
    %legend You can change all this later
    .input-prepend
      %span.add-on Name
      = f.text_field :name, :placeholder => "John Doe"
    .input-prepend.input-append
      %span.add-on Threshold $
      = f.text_field :email, :placeholder => "5"
      %span.add-on .00
    .input-prepend
      %span.add-on Email
      = f.text_field :email, :placeholder => "your@email.com"
    .input
      %span.help-block 
        This is where you make your statement. For example, 
        %em "I'm open to job offers,"
        %em "Will answer in less than 48 hours,"
        or
        %em "Send me your phone so I can call you back"
      = f.text_area :comment, :placeholder => "I swear I read every message", :size => "160x3"
    = f.submit 'Continue', :class => "btn btn-large btn-success"
